.MainPage {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 11;
  background: linear-gradient(45deg, #6db4be, #071618);
  color: #b3dadf;
  position: relative;
  overflow: scroll;
}

.MainPage::-webkit-scrollbar {
  display: none;
}

.Text {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  z-index: 10;
}

.Header {
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #B3DADF;
  position: fixed;
}