.ErrorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 57vh;
  background: linear-gradient(45deg, #6DB4BE, #071618);
  z-index: 102;
  position: fixed;
  border-radius: 10px;
  top: 160px;
}

.ErrorText {
  border-radius: 3px;
  width: 40vw;
  height: 30px;
  font-family: inherit;
  font-size: 2rem;
  color: #b3dadf;
}