.ErrorContainer {
  display: flex;
  flex-direction: column;
  width: 40rem;
  background: linear-gradient(45deg, #6DB4BE, #071618);
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: relative;
  border-radius: 3px;
  top: 5rem
}

.ErrorText {
  border-radius: 3px;
  width: 70%;
  font-family: inherit;
  font-size: 1.5rem;
  color: #b3dadf;
}

@media (max-width: 40rem) {
  .ErrorContainer {
    width: 90%;
  }
}