.BackgroundError {
  position: fixed;
  z-index: 105;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
}

.ErrorContainer {
  display: flex;
  flex-direction: column;
  width: 40rem;
  background: linear-gradient(45deg, #6DB4BE, #071618);
  align-items: center;
  justify-content: center;
  z-index: 110;
  position: absolute;
  border-radius: 3px;
  animation-duration: 2s;
  animation-name: slidein;
  margin: 10rem 0;
  height: auto;
}

.ErrorText {
  border-radius: 3px;
  width: 70%;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  color: #e7b52b;
}

@media (max-width: 40rem) {
  .ErrorContainer {
    width: 90%;
  }
}