.ToDoList {
  margin: 10px auto;
  height: 3vh;
  width: 50vw;
  background-color: #c1dee2;
  border-radius: 3px;
  color: #21656e;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
  padding-left: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-duration: 1s;
  animation-name: display;
}

.Icon {
  cursor: pointer;
  margin-right: 7px;
  color: #823246;
  height: 25px;
  width: auto;
}

@keyframes display {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
