.ToDoList {
  margin: 1rem;
  height: auto;
  width: 50vw;
  background-color: #c1dee2;
  border-radius: 3px;
  color: #21656e;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-all;
  animation-duration: 1s;
  animation-name: display;
}

.Icon {
  cursor: pointer;
  color: #823246;
  height: 1.8rem;
  width: auto;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes display {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 40rem) {
  .ToDoList {
    width: 70vw;
  }
}
