.Button {
  outline: none;
  border: none;
  border-radius: 3px;
  width: 145px;
  background-color: #B3DADF;
  color: #21656E;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
  height: 3vh;
  margin-bottom: 1rem;
}

.Button:hover {
  color: #071618;
}