.Button {
  outline: none;
  border: none;
  border-radius: 3px;
  width: auto;
  padding: 0 1rem;
  background-color: #B3DADF;
  color: #21656E;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  height: 3rem;
  margin: 1rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Button:hover {
  color: #071618;
}