.Auth {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 57vh;
  background: linear-gradient(45deg, #6DB4BE, #071618);
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: fixed;
  border-radius: 10px;
  top: 160px;
  animation-duration: 1.5s;
  animation-name: slidein;
}

.AuthInputText {
  outline: none;
  border: none;
  border-radius: 3px;
  width: 40vw;
  height: 30px;
  margin: 20px auto;
  padding: 0 1rem;
  font-family: inherit;
  font-size: 1.8rem;
  background-color: rgb(220, 241, 243);
}

@keyframes slidein {
  from {
    margin-top: -100%;
  }
  to {
    margin-top: 0%;
  }
}