* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, #6DB4BE, #071618);
}

.ComplitedTasks {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 11;
  position: relative;
  overflow: scroll;
}

.ComplitedTasks::-webkit-scrollbar {
  display: none;
}

.ComplitedTasks__title {
  color: #b3dadf;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  padding-top: 1rem;
  position: relative;
  z-index: 11;
  text-align: center;
}

.MainPage {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 11;
  position: relative;
  overflow: scroll;
}

.MainPage::-webkit-scrollbar {
  display: none;
}

.Text {
  color: #b3dadf;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding-top: 1rem;
  position: relative;
  z-index: 10;
}

.Header {
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #B3DADF;
  position: fixed;
  padding-right: 3rem;

  .Link {
    text-decoration: none;
    font-family: inherit;
    font-weight: bold;
    color: #21656E;
    margin: 0 1rem;
  }

  .Link:hover {
    color: #071c1f;
  }
}

.Auth {
  display: flex;
  flex-direction: column;
  width: 40rem;
  background: linear-gradient(45deg, #6DB4BE, #071618);
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: absolute;
  border-radius: 3px;
  animation-duration: 2s;
  animation-name: slidein;
  margin: 2rem 0;
  height: auto;
}

@keyframes slidein {
  from {
    margin-top: -100rem;
  }
  to {
    margin-top: 2rem;
  }
}

@media (max-width: 40rem) {
  .Auth {
    width: 90%;
  }
}

.InputForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.InputText {
  outline: none;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  width: 50vw;
  height: 3rem;
  margin: 1rem 2rem;
  padding: 0.5rem 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: rgb(220, 241, 243);
}

@media (max-width: 40rem) {
  .InputForm {
    flex-direction: column;
    height: auto;
  }

  .InputText {
    width: 70vw;
  }
}

.SignInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  width: 80%;
}

.SignInTitle {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #b3dadf;
}

.SignInInput {
  outline: none;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 0.5rem 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: rgb(220, 241, 243);
  margin-bottom: 1rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.SignInSubmit {
  outline: none;
  border: none;
  border-radius: 3px;
  width: auto;
  padding: 0.5rem 0.5rem;
  background-color: #B3DADF;
  color: #21656E;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.SignInSubmit:hover {
  color: #071618;
}

.SignUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  width: 80%;
}

.SignUpTitle {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #b3dadf;
}

.SignUpInput {
  outline: none;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 0.5rem 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: rgb(220, 241, 243);
  margin-bottom: 1rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.SignUpSubmit {
  outline: none;
  border: none;
  border-radius: 3px;
  width: auto;
  padding: 0.5rem 0.5rem;
  background-color: #B3DADF;
  color: #21656E;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.SignUpSubmit:hover {
  color: #071618;
}

.ToDoList {
  margin-bottom: 1rem;
  width: 50vw;
  background-color: #c1dee2;
  border-radius: 3px;
  color: #21656e;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-all;
  animation-duration: 1s;
  animation-name: display;
}

.Icon {
  right: 0;
  cursor: pointer;
  color: rgb(114, 21, 44);
  height: 1.3rem;
  width: auto;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Icon:first-child {
  color: rgb(13, 146, 13);
}

.Icon:hover {
  color: #071c1f;
}

@keyframes display {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 40rem) {
  .ToDoList {
    width: 70vw;
  }
}

.Backdrop {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.Button {
  outline: none;
  border: none;
  border-radius: 3px;
  width: auto;
  padding: 0.5rem 0.5rem;
  background-color: #B3DADF;
  color: #21656E;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Button:hover {
  color: #071c1f;
}



.BackgroundError {
  position: fixed;
  z-index: 105;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
}

.ErrorContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: linear-gradient(45deg, #6DB4BE, #071618);
  align-items: center;
  justify-content: center;
  z-index: 110;
  border-radius: 3px;
  margin: 1rem;
  height: 90%;
}

.ErrorText {
  border-radius: 3px;
  width: 70%;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  color: #e7b52b;
}

@media (max-width: 40rem) {
  .ErrorContainer {
    width: 90%;
  }
}