.Auth {
  display: flex;
  flex-direction: column;
  width: 40rem;
  background: linear-gradient(45deg, #6DB4BE, #071618);
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: relative;
  border-radius: 3px;
  animation-duration: 2s;
  animation-name: slidein;
  top: 5rem
}

@keyframes slidein {
  from {
    margin-top: -100rem;
  }
  to {
    margin-top: 0;
  }
}

@media (max-width: 40rem) {
  .Auth {
    width: 90%;
  }
}